*.rbc
*.sublime-*
*.swp
*_history

.DS_Store
.account
.config/hub
.flyrc
.lesshst
.localstack
.rvmrc
.ssh/id_rsa
.ssh/known_hosts
.viminfo
.vimsession
.yarnrc
.zcompdump
FIXME
tags
vim-go-test-compile

.Trash/
.apex/
.aws/
.bundle/
.cargo/
.config/base16-shell/
.docker/
.dropbox/
.fzf/
.gem/
.gnupg/
.m2/
.mitmproxy/
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.rustup/
.stack/
.terraform.d/
.vim/plugged/
.vim/view/
.vscode*

Applications/
Desktop/
Documents/
Downloads/
Dropbox*
Library/
Movies/
Music/
Pictures/
Public/
bin/
code/
go/
tmp/

.ml/
.mlw/
.magicleap/
ML/
