*.rbc
*.sublime-*
*.swp
*_history

.DS_Store
.Trash
.account
.apex/
.aws/
.bundle/
.cargo
.config/base16-shell/
.config/hub
.docker/config.json
.dropbox/
.env
.envrc
.fzf/
.gem/
.lesshst
.livereload
.localized
.m2/
.mitmproxy/
.ml/
.mlw/
.node-gyp/
.npm/
.oracle_jre_usage/
.rbenv-vars
.rbenv-version
.rbx/
.rustup/
.rvmrc
.ssh/id_rsa
.ssh/known_hosts
.terraform.d/
.vim/plugged/
.vim/view/
.viminfo
.vimsession
.watchr/
.zcompdump

FIXME
tags
vim-go-test-compile

Applications/
Desktop/
Downloads/
Dropbox/
Library/
Music/
code/
tmp/
