*.rbc
*.sublime-*
*.swp
*_history

.DS_Store
.account
.config/hub
.env
.flyrc
.lesshst
.localstack
.rvmrc
.ssh/id_rsa
.ssh/known_hosts
.viminfo
.vimsession
.yarnrc
.zcompdump
FIXME
tags
vim-go-test-compile

.SynologyDrive/
.Trash/
.apex/
.aws/
.bundle/
.cargo/
.config/base16-shell/
.config/gcloud/
.docker/
.dropbox/
.fzf/
.gem/
.gnupg/
.gsutil/
.m2/
.mitmproxy/
.node-gyp/
.npm/
.nvm/
.opam/
.oracle_jre_usage/
.rustup/
.stack/
.terraform.d/
.vim/plugged/
.vim/view/
.vscode*

Applications/
Desktop/
Documents/
Downloads/
Drive/
Dropbox*
Library/
Movies/
Music/
Pictures/
Public/
bin/
go/
src/
tmp/
